@model Application

<h1>Add Movie</h1>

<form method="post">
    <label asp-for="Title">Movie Title:</label>
    <input asp-for="Title" required maxlength="25">
    <br>
    <label asp-for="Year">Year Released:</label>
    <input required asp-for="Year" maxlength="25">
    <br>
    <label asp-for="Category">Category:</label>
    <input required asp-for="Category" maxlength="25">
    <br>
    <label asp-for="Director">Director:</label>
    <input required asp-for="Director" maxlength="25">
    <br>
    <label asp-for="Rating">Rating:</label>
    <select required asp-for="Rating">
        <option></option>
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
        <option>NR</option>
    </select>
    <br>
    <label asp-for="Edited">Edited?</label>
    <select asp-for="Edited">
        <option></option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br>
    <label asp-for="LentTo">Lent to:</label>
    <input asp-for="LentTo" maxlength="25">
    <br>
    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" maxlength="25">
    <br>
    <button type="submit">Submit Application</button>
</form>