@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Joel Hilton's Film Collection!</h1>

<div>
    <p>I love movies and love to track them as well! Join me on my journey!</p>
    <img src="~/img/JoelHiltonHeadshot.jpg" alt="JoelHilton" height="400">
</div>

<br>

<div>
    <a asp-controller="Home" asp-action="AddMovie">Add a movie to the Database</a>
</div>