<h1>Get to Know Joel!</h1>
<br>
<a href="http://baconsale.com/"><img src="~/img/BaconsaleKate.jpg" alt="BaconSale" height="400"></a>
<br><br>
<h2>I perform regularly at Quick Wits Comedy!</h2>
<a href="https://www.qwcomedy.com/">Come See me Perform!</a>
<br>
<br>
<h2>I host a family friendly pop culture podcast!</h2>
<a href="https://baconsale.com/">Check out our website!</a>
<br><br><br><br><br><br><br><br>